<!-- <select
(ngModelChange)="onChange($event)"
[(ngModel)]="value"
[multiple]="multiple"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <ng-container *ngFor="let option of filteredOptions">
    <option [value]="option.value" [disabled]="option.disabled">
      {{ option.label }}
    </option>
  </ng-container>
</select> -->

<mat-select
  placeholder="{{ disabled ? undefined : placeholder }}"
  (ngModelChange)="onChange($event)"
[multiple]="multiple"
[(ngModel)]="value"
  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
>
  <mat-option *ngFor="let option of filteredOptions" [value]="option.value">
    {{ option.label }}
  </mat-option>
</mat-select>
